In [1]:
import graphlab

In [2]:
dataset = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to mohammed303760@science.tanta.edu.eg and will expire on February 03, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1486866699.log

Finished parsing file /root/anaconda2/envs/gl-env/notebooks/people-example.csv

Parsing completed. Parsed 7 lines in 0.015649 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /root/anaconda2/envs/gl-env/notebooks/people-example.csv

Parsing completed. Parsed 7 lines in 0.014972 secs.

In [3]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [4]:
dataset.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [5]:
dataset.tail(3)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 3

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[3 rows x 4 columns]

In [6]:
dataset.show()

Canvas is accessible via web browser at the URL: http://localhost:52146/index.html
Opening Canvas in default web browser.

In [7]:
dataset['age'].show()

Canvas is accessible via web browser at the URL: http://localhost:52146/index.html
Opening Canvas in default web browser.

In [8]:
dataset['age'].show(view='Categorical')

Canvas is accessible via web browser at the URL: http://localhost:52146/index.html
Opening Canvas in default web browser.

In [9]:
dataset['age'].max()

25

In [10]:
dataset['age'].min()

22

In [11]:
dataset['age'].mean()

23.142857142857146

In [12]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [13]:
dataset['First Name']

dtype: str
Rows: 7
['Bob', 'Alice', 'Malcolm', 'Felix', 'Alex', 'Tod', 'Derek']

In [14]:
dataset['First Name'].show()

Canvas is accessible via web browser at the URL: http://localhost:52146/index.html
Opening Canvas in default web browser.

In [15]:
dataset['Full Name'] = dataset['First Name'] + ' ' + dataset['Last Name']

In [16]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [17]:
dataset['age'] + 2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

In [18]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [19]:
dataset['age'] += 2

In [20]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  26 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  25 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  24 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  25 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  25 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  24 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  27 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [23]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [24]:
transform_country('USA')

'United States'

In [25]:
transform_country('Egypt')

'Egypt'

In [26]:
dataset['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [27]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  26 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  25 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  24 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  25 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  25 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  24 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  27 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [29]:
dataset['Country'] = dataset['Country'].apply(transform_country)

In [30]:
dataset

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  26 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  25 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  24 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  25 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  25 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  24 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  27 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [34]:
dataset.show(view='Box Whisker', x = 'First Name', y='age')

WARNING:root:View param Box Whisker is not recognized. You may want to use "Summary", "Plots", "Table" or a specific plot type such as "Scatter Plot". I am showing you the Summary view for now.

Canvas is accessible via web browser at the URL: http://localhost:52146/index.html
Opening Canvas in default web browser.

WARNING:root:View param Box Whisker is not recognized. You may want to use "Summary", "Plots", "Table" or a specific plot type such as "Scatter Plot". I am showing you the Summary view for now.